* {
    color: #fff;

    margin: 0;
    padding: 0;

    text-decoration: none;
}

body {
    background-color: #0A1117;
}

header {
    background-color: #0a1117ef;

    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    position: sticky;
    top: 0;
    z-index: 99;

    backdrop-filter: blur(2px);
    box-shadow: 0px 10px 8px #0a1117ef;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
}

a {
    height: fit-content;

    text-decoration: none;

    cursor: pointer;
}

img {
    width: fit-content;
    height: fit-content;
}

span {
    height: auto;
    width: auto;
}

button {
    background-color: transparent;

    border-width: 0px;
}

.fillroom {
    width: 100%;
    height: 130px;
}

.fillroom2 {
    width: 100%;
    height: 40px;
}

.logo {
    width: fit-content;
    height: fit-content;

    font-size: 50px;

    font-family: boldserrat;

    cursor: pointer;
}

.header-buttons {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 50px;

    font-family: midserrat;
}

.home {
    font-size: 20px;
    font-weight: 500;

    cursor: pointer;
}

.learn {
    font-size: 20px;
    font-weight: 500;

    cursor: pointer;
}

.about {
    font-size: 20px;
    font-weight: 500;

    cursor: pointer;
}

.contact {
    font-size: 20px;
    font-weight: 500;

    cursor: pointer;
}

.login {
    background-color: #243241;

    width: 80px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    border-width: 0px;

    font-size: 20px;
    font-family: midserrat;

    margin-left: 80px;
    margin-right: 80px;

    cursor: pointer;
}

.text-cont {
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 80px;

    cursor: default;
}

.top {
    color: #fff;

    display: flex;
    flex-direction: column;
}

.top-text {
    font-family: lato;
    font-size: 70px;

    gap: 3px;
}

.bottom {
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;
    margin-top: 25px;
}

.bottom-text {
    font-family: midserrat;
    font-size: 25px;
}

.get-started {
    background-color: #ceaaff;

    width: fit-content;
    height: 50px;

    border-radius: 10px;
    border-width: 0px;

    margin-top: 50px;
    padding: 0px 40px 0px 40px;

    font-size: 18px;
    font-family: boldserrat;

    transition: all 0.3s ease;
}

.get-started:hover {
    transform: scale(1.1);

    transition: all 0.3s ease;

    cursor: pointer;
}

.img-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.arrow {
    position: absolute;

    animation-name: boing;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: -0.1s;
}

@keyframes boing {
    0% {
        transform: translate3d(0, 0, 0);
        width: 39px;
        height: 10px;
    }

    100% {
        transform: translate3d(0, -50px, 0);
        width: 24px;
        height: 25px;
    }
}

.project-cont {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-text {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: 25px;
    font-family: lato;
    margin: 50px;
}

.DAO-row-wrap {
    width: 50%;
    height: fit-content;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    column-gap: 25px;
    row-gap: 20px;
}

.DAO-text {
    background-color: #182632;

    width: fit-content;
    height: fit-content;

    font-size: 15pt;
    font-family: semiserrat;

    border-radius: 100px;
    padding: 20px;

    transition: all 0.3s ease;
}

.DAO-text:hover {
    transform: scale(1.1);

    transition: all 0.3s ease;
}

.image-cont {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 35px;
}

.DAO-text1 {
    background-color: #ffb4d3;
    color: #000;

    border: #0A1117;
    border-radius: 100px;
    border-width: 5px;
    border-style: solid;

    padding: 15px;

    position: relative;
    top: -30px;

    font-size: 13pt;
    font-family: boldserrat;
}

.designs-top-text {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: 25px;
    font-family: lato;
}

.designs-info-text {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 35px;
    gap: 20px;

    font-size: 40px;
    font-family: lato;
}

.design-text {
    color: #37424D;

    transition: color 0.5s ease;

    cursor: pointer;
}

.design-text:hover {
    color: #ffb4d3;

    transition: color 0.5s ease;
}

.works-with {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: 40px;
    font-family: lato;
}

.work-with-boxes {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 50px;
    margin-top: 30px;
}

.work-with-box {
    background-color: #121E28;

    width: 75px;
    height: 75px;

    padding: 40px;

    border-radius: 50px;
    border: #2A3744;
    border-width: 2px;
    border-style: solid;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.work-with-box-cont {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 25px;
}

.work-with-text {
    font-size: 25px;
    font-family: semiserrat;
}

.help-top-text {
    font-size: 40px;
    font-family: lato;
}

.people-img-cont {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 40px;
}

.help-text-cont {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

.help-text {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 30px;

    font-size: 30px;
    font-family: lato;
}

.email-cont {
    background-color: #121E28;

    width: 1000px;
    height: fit-content;

    border-radius: 50px;
    border: #2a3744;
    border-width: 2px;
    border-style: solid;

    padding: 40px 0px 40px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

.email-top-text {
    font-size: 40px;
    font-family: lato;
}

.latest-news {
    color: #9aafc3;

    font-size: 40px;
    font-family: semiserrat;
}

.email-type-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.email-type-bar {
    background-color: #121E28;
    
    width: 500px;
    height: 25px;

    border-radius: 25px;
    border: #2a3744;
    border-width: 2px;
    border-style: solid;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size:25px;
    font-family: semiserrat;

    padding: 20px;
}

.submit-email {
    background-color: #ceaaff;

    width: 100px;
    height: 50px;

    border-radius: 10px;
    border-width: 0px;

    margin-top: 50px;
    padding: 0px 40px 0px 40px;

    font-size: 18px;
    font-family: boldserrat;
}

.color-pink {
    color: #ffb4d3;
}

.color-yellow {
    color: #ffc24c;
}

.color-purple {
    color: #d387f7;
}

.color-baby-blue {
    color: #77e6ff;
}

.color-blue {
    color: #23c9de;
}

.color-skin {
    color: #ff9e9e;
}

.color-grey {
    color: #707f8d;
}

.color-black {
    color: #10151a;
}

@font-face {
    font-family: lato;
    src: url(fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: boldserrat;
    src: url(fonts/Montserrat-Bold.ttf	);
}

@font-face {
    font-family: midserrat;
    src: url(fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: semiserrat;
    src: url(fonts/Montserrat-SemiBold.ttf	);
}

:root {
    color-scheme: dark;
}